@use '@/global-styles/theme';

.form {
  display: flex;
  flex-direction: column;
  gap: theme.$space-md;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: theme.$space-md;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
