@use '@/global-styles/theme';

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 18rem), 1fr));
  gap: theme.$space-lg;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: theme.$space-xl;
}
